<h1>Add Your Artist and Album Here</h1>
<a href='/home'>Go to Home Page</a>

<form action="/add" method="POST">
    <div>
        <label for='artist'>Artist: </label>
        <input type='text' name='artist'>
    </div>
    <div>
        <label for='album'>Album: </label>
        <input type='text' name='album'>
    </div>
    <div>
        <button type='submit'>Submit</button>
    </div>
</form>