<div>
<table>
    <tbody>
        <tr>
            <th>Artist Name</th>
            <th>Album</th>
        </tr>
        {{#each Album}}
        <tr>
            <td>{{artists}}</td>
            <td>{{albums}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
</div>
